header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px;
  background: black;
  border-bottom: 1px solid #ffe082;
}

header > h1 {
  color: white;
  font-weight: 700;
  font-size: 25px;
}
